/* Base styles for the upsell product list */
.upsell-product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .upsell-product-item-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
  }
  
  /* Styles for each row of upsell products */
  .upsell-product-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align items to the start (left) */
    gap: 10px; /* Space between items */
    padding-left: 10px; /* Ensures content aligns to the left, including single items */
    width: 100%; /* Ensures row takes full width of its container */
    max-width: 1000px;
  }
  
  /* Styles for each upsell product item */
  .upsell-product-item {
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; /* Aligns item content to the left */
    flex: 0 1 calc(33% - 30px); /* Adjust width to fit 3 items per row, taking into account the gap */
    min-height: 150px;
    min-width: 325px; /* Ensures items don't become too narrow */
    margin-bottom: 10px; /* Space below each item */
  }
  
  /* Responsive styles for the upsell product item on smaller screens */
  @media (max-width: 768px) {
    .upsell-product-item {
      width: calc(50% - 10px); /* Adjust width to fit 2 items per row */
    }
  }
  
  /* Further responsive styles for even smaller screens */
  @media (max-width: 480px) {
    .upsell-product-item {
      width: 100%; /* Each item takes full width on small screens */
    }
  }
  
  /* Styles for the actions within each upsell product item */
  .product-actions {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }
  
  /* Styles for buttons within the product-actions to ensure equal size */
  .product-actions button {
    flex: 1; /* Each button will take an equal amount of space in the container */
    min-width: 50px; /* Prevents buttons from becoming too narrow */
  }
  
  /* Styles for product details to ensure text is on separate lines and left-aligned */
.product-name .product-details .product-price {
    display: block; /* Ensures each is on its own line */ 
    margin-bottom: 5px; /* Space between name and price */
    text-align: left; /* Ensures text is aligned to the left */
  }
  