.product-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.delete-btn {
    border: none;
    background-color: black;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.product-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.product-name {
    flex-grow: 1;
    text-align: left;
}

.product-amount {
    width: 30px;
    height: 30px;
    text-align: center;
}

.product-price {
    min-width: 100px;
    text-align: right;
}
.product-total {
    min-width: 100px;
    text-align: right;
}
.frame{
     width: auto; /* eller en bredde efter dit valg */
    height: 50vh; /* eller en højde efter dit valg */
    overflow-y: scroll; /* gør boxen scrollable */
    border: 1px solid #000; /* tilføj en ramme til boxen */
    margin: 10px;
    padding: 5px;
}

.frameTot{
    background-color: dark gray;/*white; */
    width: 30vh; /* eller en bredde efter dit valg */
   height: 12vh; /* eller en højde efter dit valg */
   border: 1px solid #000; /* tilføj en ramme til boxen */
   margin: 10px;
   padding: 5px;
}


.slet{
    padding-right: 100px;
}

.produkt{
    padding-left: 125px;
    padding-right: 150px;
}

.antal{
    padding-right: 35px;
}
.prispr{
    padding-left: 5px;
    padding-right: 25px;   
}

table{
    border-bottom: 5px solid;
    display: block;
}

#discountNudge {
    position: fixed; 
    bottom: 20px; /* bottom right of the screen */
    right: 20px; /* so it doesnt annoy the user too much */
    border: 1px solid #ddd;
    background-color: #f9f9f9; /* slighly differs from our site so it stands out but still fits with the theme */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    z-index: 1000; /* So the popup is above all other content */
  }