.total-sum {
    color: black; /* Tekstfarve */
    background-color: gray; /* Baggrundsfarve */
}

.total-rabat {
    color: black; /* Tekstfarve */
    background-color: gray; /* Baggrundsfarve */
}